<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>TV shows</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      {% load static %}
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
      <div class="container">
            <a href="/shows">Go Back</a>
            <h1>Edit show {{show.id}}</h1>
            <div class="row">
                  <form class="col s8" action="/shows/{{show.id}}/update" method="POST">
                        {% csrf_token %}
                        {% if messages %}
                              <ul class="messages">    
                              {% for message in messages %}    
                                    <li>{{ message }}</li>    
                              {% endfor %}
                              </ul>
                        {% endif %}
                        <div class="row">
                              <div class="input-field col s12">
                                    <input id="title" type="text" class="validate" name="title" value="{{show.title}}">
                                    <label for="title">Title</label>
                              </div>
                        </div>
                        <div class="row">
                              <div class="input-field col s6">
                                    <input id="network" type="text" class="validate" name="network" value="{{show.network}}">
                                    <label for="network">Network</label>
                              </div>
                              <div class="input-field col s6">
                                    <input id="date" type="date" class="datepicker" name="release_date" value="{{show.release_date}}">
                                    <label for="date">Date</label>
                              </div>
                        </div>
                        <div class="row">
                              <div class="input-field col s12">
                                    <textarea id="description" class="materialize-textarea" name="description">{{show.description}}</textarea>
                                    <label for="description">Description</label>
                              </div>
                        </div>
                        <button type="submit" class="waves-effect waves-light btn">Update</button>
                  </form>
            </div>
            <div class="row">
                  <a href="/shows/{{show.id}}" class="waves-effect waves-light btn">Go to show</a>
            </div>
      </div>
      
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>