<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>TV shows</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
      <div class="container">
            <div class="row">
                  <a onClick="window.history.back()" style="cursor:pointer;">Go Back</a>
                  <h1>Tv show: {{show.id}}</h1>
            </div>
            
            <div class="row">
                  <div class="col s8">
                        <p>Title: {{show.title}}</p>
                        <p>Network: {{show.network}}</p>
                        <p>Release date: {{show.release_date}}</p>
                        <p>Description: {{show.description}}</p>
                        <p>Last updated: {{show.updated_at}} </p>
                  </div>
            </div>

            <div class="row">
                  <a href="/shows/{{show.id}}/edit">Edit</a> | <a href="/shows/{{show.id}}/destroy">Delete</a>
            </div>
      </div>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>